@import url('circe.css');
@import url('lato.css');
html {
    font-size: 16px;
}

body {
    font-size: 1rem;
    font-family: 'Lato', Roboto, sans-serif;
    color: #222;
    background: #fffefe;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Circe', Montserrat, sans-serif;
    font-weight: 900;
}

h1 {
    font-size: 4rem;
}
h2 {
    font-size: 3rem;
}

a {
    color: #61b968;
    text-decoration: none;
}

a:hover {
    color: #4f9e55;
}

section {
    padding: 90px 0;
}

.section-title h2 {
    color: #297d53;
}

.section-title p {
    font-size: 1.2rem;
}

div#notation div {
    font-size: 1.5rem;
    font-family: 'Circe', sans-serif;
    line-height: 2.5;
}

div#notation span {
    width: 35px;
    height: 35px;
    display: inline-block;
    margin-right: 10px;
    position: relative;
    top: 10px;
    border-radius: 50%;
}

.rating-card {
    width: 100%;
    height: 400px;
    background: #fff;
    border-radius: 5rem;
    box-shadow: 0 10px 15px 5px #00000014;
    position: relative;
    overflow: hidden;
}

.color-1 {
    background-color: #95449b;
    top: 0px;
    left: 0px;
    animation-duration: 90s;
}
.color-2 {
    background-color: #f15146;
    bottom: 0px;
    left: 0px;
    animation-duration: 90s;
}
.color-3 {
    background-color: #f9ed37;
    top: 0px;
    left: 295px;
    animation-duration: 90s;
}
.color-4 {
    background-color: #27a094;
    bottom: 0px;
    right: 295px;
    animation-duration: 90s;
}
.color-5 {
    background-color: #8ac44b;
    top: 0px;
    right: 0px;
    animation-duration: 90s;
}
.color-6 {
    background-color: #f8981d;
    bottom: 0;
    right: 0;
    animation-duration: 90s;
}
.circle-wow {
    width: 100px;
    height: 120px;
    border-radius: 50%;
    position: absolute;
    filter: blur(70px);
    animation-name: rotationcard;
    
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes rotationcard {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* Sign In */

#center-form-section {
    padding: 80px 0;
    min-height: 90vh;
    display: flex;
}

.form-control:focus {
    color: rgb(26, 26, 26);
    font-weight: 600;
    background-color: rgb(255, 255, 255);
    border-color: rgb(182, 220, 173);
    outline: 0px;
    box-shadow: rgba(182, 220, 173, 0.24) 0px 0px 0px 0.2rem;
}

.sign-in-social h4 {
    font-weight: 400;
}

.sign-in-btns a {
    color: #222;
    font-family: 'Circe', sans-serif;
    padding: 10px 20px;
    background: #eee;
    display: inline-block;
    border-radius: 0.3rem;
    cursor: pointer;
    line-height: 25px;
    width: 100%;
}

.sign-in-btns a:hover {
    background: #e8e8e8;
}

.sign-in-btns img {
    margin-right: 5px;
    width: 20px;
}

.sign-in-btns .col-6 {
    padding: 4px;
}

.form-sign-in,
.form-sign-up {
    padding-left: 30px;
    padding-right: 30px;
}


/* Buttons */

.btn-primary {
    background: #61b968;
    color: #ffffff;
    border: 0;
    outline: none;
    padding: 0.75rem 1rem;
    font-weight: 500;
    transition: .3s;
    font-size: 1.1rem;
}

.btn-primary:hover {
    background: #4f9e55;
    box-shadow: 0 5px 10px 0px #00000014;
    transform: translateY(-3px);
}

.btn-primary:focus,
.btn-primary:active {
    background-color: #85cd8b !important;
    border: 0 !important;
    box-shadow: none !important;
}


/* Personal Area */

section#settings {
    margin-top: 80px;
    background-image: url(../img/m.svg);
    background-size: cover;
    background-position: top;
}

.user-avatar .image img {
    border-radius: 50%;
}

.bio-tab {
    background: #fff;
    box-shadow: 0 50px 50px 3px #0000001c;
    padding: 30px 50px;
    border-radius: 1rem;
}

.user-id {
    color: #76d87e;
    font-family: 'Lato', sans-serif;
    padding: 6px 8px;
    background-color: #f3f3f3;
    border-radius: 0.3rem;
    font-weight: 700;
    display: inline-block;
}

.user-id span {
    color: #444;
    font-weight: 400;
    font-family: 'Circe', Montserrat, sans-serif;
}

.user-status {
    display: inline-block;
    margin-left: 15px;
    color: #76d87e;
    font-family: 'Circe', Montserrat, sans-serif;
    padding: 6px 8px;
    background-color: #f3f3f3;
    border-radius: 0.3rem;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.75px;
}

.status-id {
    margin: 5px 0 25px;
}

.user-name {
    font-size: 3rem;
    color: #297d53;
}

.about-user {
    padding-left: 10px;
    border-left: 10px solid #eee;
    margin: 20px 0 25px 5px;
}

.about-user .birth-date {
    font-size: 1.4rem;
    font-family: 'Circe', Montserrat, sans-serif;
    color: #76d87e;
    font-weight: bold;
    margin-bottom: 10px;
}

.about-user .location-user {
    font-size: 1.4rem;
    font-family: 'Circe', Montserrat, sans-serif;
    color: #76d87e;
    font-weight: bold;
    margin-bottom: 10px;
}

.location-user #district {
    color: #585858;
    margin-left: 5px;
}

.about-user .university-user {
    font-size: 1.4rem;
    font-family: 'Circe', Montserrat, sans-serif;
    color: #76d87e;
    font-weight: bold;
    margin-bottom: 10px;
}

.university-user #university-direction {
    color: #585858;
    margin-left: 5px;
}

.tags-user {
    margin-top: 5px;
}

.tags-user span {
    display: inline-block;
    background: #c7e7b6;
    color: #297d53;
    font-weight: bold;
    font-family: 'Circe', Montserrat, sans-serif;
    font-size: 0.9rem;
    padding: 6px 8px;
    margin: 3px;
    opacity: .7;
    border-radius: 0.3rem;
    transition: 0.3s;
    cursor: pointer;
}

.tags-user span:hover {
    opacity: 1;
}

.user-avatar .image {
    position: relative;
}

.user-avatar .image:after {
    content: '';
    position: absolute;
    top: -15%;
    left: -15%;
    width: 130%;
    height: 130%;
    background-image: url(../img/layer.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    animation-name: rotation;
    animation-duration: 90s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}


@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* Event Page */

section#live {
    background-image: url(../img/m.svg);
    background-size: cover;
    background-position: top;
    padding: 90px 0 40px;
}

#description .video-frame {
  position: relative;
  padding-bottom: 56.25%; 
  height: 0;
  overflow: hidden;
  width: 100%;
  box-shadow: 0 50px 50px 3px #0000001c;
}

#description .video-frame iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-width: 0;
    outline-width: 0;
}

#description .event-name {
    font-size: 3rem;
    color: #fff;
    margin-top: 50px;
}

#description .event-date span {
    color: #76d87e;
    font-family: 'Circe', sans-serif;
    padding: 6px 8px;
    background-color: #f3f3f3;
    border-radius: 0.3rem;
    font-weight: 700;
    display: inline-block;
    font-size: 1.2rem;
}

#description .event-location {
    margin-top: 10px;
}

#description .event-location #city {
    font-size: 1.4rem;
    font-family: 'Circe', sans-serif;
    padding: 6px 8px;
    background-color: #f3f3f3;
    border-radius: 0.3rem;
    font-weight: 700;
    display: inline-block;
}

#description .event-location #address {
    font-family: 'Circe', sans-serif;
    padding: 6px 8px;
    border-radius: 0.3rem;
    font-weight: 700;
    display: inline-block;
}

#description .event-description {
    margin-top: 15px;
    margin-left: 2px;
    max-width: 85%;
}

#description .media img {
    max-width: 160px;
    border-radius: 50%;
}

#description #speaker-link {
    color: #76d87e;
}

#description .speaker-info {
    padding: 25px;
    background: #fff;
    box-shadow: 0 8px 20px #00000017;
    border-radius: 3rem;
}

#description .speaker-title {
    color: #76d87e;
    font-family: 'Circe', sans-serif;
    padding: 6px 8px;
    background-color: #f3f3f3;
    border-radius: 0.3rem;
    font-weight: 700;
    display: inline-block;
    margin: 0 0 6px;
    position: relative;
    right: 4px;
}

#description .event-btns {
    margin-top: 30px;
    width: 85%;
}

#description .event-btns a {
    color: #222;
    font-family: 'Circe', sans-serif;
    padding: 15px 20px;
    background: #eee;
    display: inline-block;
    border-radius: 0.3rem;
    cursor: pointer;
    line-height: 25px;
    width: 100%;
    font-size: 1.2rem;
}

#description .event-btns a:hover {
    background: #e7e7e7;
}

#description .event-btns img {
    margin-right: 10px;
    width: 25px;
    margin-top: -5px;
}

#description .event-btns .col-6 {
    padding: 15px;
}

/* Events */
section#head-title {
    background-image: url(../img/bg.svg);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    padding: 150px 0 50px;
}

#head-title h1 {
    color: #fff;
}

#events {
    padding: 70px 0 90px;
}

.event-card {
    background: #fff;
    box-shadow: 0 10px 20px #00000014;
    border-radius: 1rem;
    transition: 0.3s;
}

.event-card:hover {
    box-shadow: 0 10px 20px #00000014;
}



.event-card .event-image {
    display: block;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 240px;
    padding: 35% 0;
    position: relative;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.event-card .event-info {
    padding: 15px;
}

.event-card .event-name {
    display: block;
    font-size: 1.2rem;
    font-family: 'Circe', sans-serif;
    line-height: 1.2;
    margin: 0 0 10px;
    font-weight: bold;
}

.event-card .event-location {
    color: #fff;
    font-family: 'Circe', sans-serif;
    padding: 6px 8px;
    background-color: #00000094;
    border-radius: 0.3rem;
    font-weight: 700;
    display: inline-block;
    margin: 10px 0 0;
    position: absolute;
    left: 15px;
    bottom: 10px;
    font-size: 1.1rem;
    transition: 0.3s;
}

.event-card .event-date, .event-card .event-time {
    position: absolute;
    top: 10px;
    display: inline-block;
    font-family: 'Circe', sans-serif;
    background: #00000094;
    padding: 3px 6px;
    font-size: 1.1rem;
    font-weight: bold;
    border-radius: 0.3rem;
    color: #fff;
    transition: 0.3s;
}

.event-btn {
    background: #eee;
    color: #333 !important;
    font-family: 'Circe', sans-serif;
    padding: 8px 10px;
    display: inline-block;
    margin-top: 10px;
    font-size: 1.1rem;
    border-radius: 0.3rem;
    display: none;
}

.event-btn img {
    height: 25px;
    margin-right: 10px;
    margin-top: -4px;
}

.event-condition1 {
    opacity: .6;
}

.event-condition3 {
    opacity: .7;
}

.event-link {
    cursor: pointer;
}

.event-card .event-date {
    left: 15px;
}

.event-card .event-time {
    right: 15px;
}

.event-card:hover .event-date, .event-card:hover .event-time, .event-card:hover .event-location {
    color: #76d87e;
}



/* footer */

.footer-logo {
    width: 110px;
}